<div class="nav">
	<ul class="cc">
		<li{$typeClasses['taobao']|html}><a href="{@url:app/account/manage/run?type=taobao}">淘宝网</a></li>
		<li{$typeClasses['sinaweibo']|html}><a href="{@url:app/account/manage/run?type=sinaweibo}">新浪微博</a></li>
		<li{$typeClasses['qzone']|html}><a href="{@url:app/account/manage/run?type=qzone}">QQ</a></li>
		<li{$typeClasses['alipay']|html}><a href="{@url:app/account/manage/run?type=alipay}">支付宝</a></li>
		<li{$upgrade|html}><a href="{@url:app/account/manage/upgrade?type=upgrade}">升级</a></li>
	</ul>
</div>