<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{@G:c.title} {@G:c.name}</title>
<link href="{@G:url.images}/demo/frame.css" rel="stylesheet" type="text/css" />
</head>
<body id="Container" style="background:#5a3c11 url({@G:url.images}/demo/sbg.png) repeat-y fixed">
	<div id="menu">
		<div id="menu_container">
			<dl>
			<dt>产品</dt>
			<dd><a href="{@url:admin/index/run}" target="_blank">后台</a></dd>
			<dd><a href="{@url:bbs/index/run}" target="_blank">论坛</a></dd>
			</dl>
			<dl>
			<dt>UED</dt>
			<dd><a href="{@url:demo/index/ui_admin}" target="mainFrame">UI库</a></dd>
			<dd><a href="{@url:demo/index/js}" target="mainFrame">JS库</a></dd>
			<dt>其他</dt>
			<dd><a href="{@url:demo/index/label}" target="mainFrame">标签变量</a></dd>
			<dd><a href="{@url:demo/index/conf}" target="mainFrame">配置</a></dd>
			<dd><a href="{@url:demo/widget/run}" target="mainFrame">pw widgets</a></dd>
			<dd><a href="{@url:demo/widget/hook}" target="mainFrame">标签</a></dd>
			<dd><a href="http://www.windframework.com" target="_blank">Wiki</a></dd>
			<dd><a href="http://www.wekit.net/statsvn/index.html" target="_blank">项目SVN报表</a></dd>
			<dt>GD</dt>
			<dd><a href="{@url:demo/index/verifycode}" target="mainFrame">我是验证码</a></dd>
			<dd><a href="{@url:demo/index/getwatermark}" target="mainFrame">水印</a></dd>
			<dd><a href="{@url:demo/index/thumb}" target="mainFrame">缩略图</a></dd>
			<dd><a href="{@url:demo/index/rotate}" target="mainFrame">图片旋转</a></dd>
			<dd><a href="{@url:demo/index/upload}" target="mainFrame">上传</a></dd>
			<dd><a href="{@url:demo/index/ftp}" target="mainFrame">FTP</a></dd>
			</dl>
		</div>
</div>

</body>
</html>