<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{@G:c.name}</title>
</head>
<link rel="stylesheet" type="text/css" href="{@G:url.images}/demo/frame.css" />
<frameset rows="60,*" cols="*" frameborder="no" border="0">
	<frame src="{@url:demo/index/fheader}" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
	<frameset rows="*" cols="160,*" framespacing="0" border="0">
		<frame src="{@url:demo/index/fside}" name="leftFrame" scrolling="No"  noresize="noresize" id="leftFrame" title="leftFrame" />
		<frame src="{@url:demo/index/ui_admin}" name="mainFrame" id="mainFrame" title="mainFrame"  />
	</frameset>
</frameset>
<noframes><body style="background:#5a3c11">
</body></noframes>
</html>