<!doctype html>
<html>
<head>
<template source='header' />
<template source='header_admin' />
</head>
<body>
<div class="demo_wrap">
		<div>pw 页面小控件</div>
		<!--组件块-->
				<div class="section" id="textclor_name">
					<h2>timezone</h2>
					<div class="cc">
						<div class="demo_code">
						<!--代码区域开始-->
						<!--# $data = array('name' => 'timezone1' , 'value' => '0'); #-->
						<div><component tpl='TPL:common.widgets.timezone' args="array('name' => 'timezone1' , 'value' => '1')"/></div>
						<!--代码区域结束-->
						</div>
						<div class="demo_html">
							<h3>代码</h3>
							<div class="demo_html_cont">
								&lt;widget type='timezone' /&gt;<br>
							</div>
						</div>
					</div>
				</div>
		<!--组件块结束-->
		<!--组件块-->
				<div class="section" id="textclor_name">
					<h2>font</h2>
					<div class="cc">
						<div class="demo_code">
						<!--代码区域开始-->
						<div><component tpl='TPL:common.widgets.font' args='$data1' /></div>
						<!--代码区域结束-->
						</div>
						<div class="demo_html">
							<h3>代码</h3>
							<div class="demo_html_cont">
								&lt;widget type='font' /&gt;<br>
							</div>
						</div>
					</div>
				</div>
		<!--组件块结束-->
		<!--组件块-->
				<div class="section" id="textclor_name">
					<h2>textarea</h2>
					<div class="cc">
						<div class="demo_code">
						<!--代码区域开始-->
						<div><component tpl='TPL:common.widgets.textarea' args='$data1' /></div>
						<!--代码区域结束-->
						</div>
						<div class="demo_html">
							<h3>代码</h3>
							<div class="demo_html_cont">
								&lt;widget type='textarea' data='$data'/&gt;<br>
							</div>
						</div>
					</div>
				</div>
		<!--组件块结束-->
		<!--组件块-->
				<div class="section" id="textclor_name">
					<h2>text</h2>
					<div class="cc">
						<div class="demo_code">
						<!--代码区域开始-->
						<div><component tpl='TPL:common.widgets.text' args='$data1' /></div>
						<!--代码区域结束-->
						</div>
						<div class="demo_html">
							<h3>代码</h3>
							<div class="demo_html_cont">
								&lt;widget type='text' data='$data'/&gt;<br>
							</div>
						</div>
					</div>
				</div>
		<!--组件块结束-->
		<!--组件块-->
				<div class="section" id="textclor_name">
					<h2>select</h2>
					<div class="cc">
						<div class="demo_code">
						<!--代码区域开始-->
						<div><component tpl='TPL:common.widgets.select' args='$data1' /></div>
						<!--代码区域结束-->
						</div>
						<div class="demo_html">
							<h3>代码</h3>
							<div class="demo_html_cont">
								&lt;widget type='select' data='$data' value='$value'/&gt;<br>
							</div>
						</div>
					</div>
				</div>
		<!--组件块结束-->
		<!--组件块-->
				<div class="section" id="textclor_name">
					<h2>radio</h2>
					<div class="cc">
						<div class="demo_code">
						<!--代码区域开始-->
						<div><component tpl='TPL:common.widgets.radio' args='$data1'/></div>
						<!--代码区域结束-->
						</div>
						<div class="demo_html">
							<h3>代码</h3>
							<div class="demo_html_cont">
								&lt;widget type='radio' data='$data' value='$value'/&gt;<br>
							</div>
						</div>
					</div>
				</div>
		<!--组件块结束-->
		<!--组件块-->
				<div class="section" id="textclor_name">
					<h2>checkbox</h2>
					<div class="cc">
						<div class="demo_code">
						<!--代码区域开始-->
						<div><component tpl='TPL:common.widgets.checkbox' args='$data1'/></div>
						<!--代码区域结束-->
						</div>
						<div class="demo_html">
							<h3>代码</h3>
							<div class="demo_html_cont">
								&lt;widget type='checkbox' data='$data' value='$value'/&gt;<br>
							</div>
						</div>
					</div>
				</div>
		<!--组件块结束-->
</div>
</body>
</html>